<%- include('../templates/header.ejs') %>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Portofolio </h3>
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
              Application </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
          </div>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker"
              data-toggle="kt-tooltip" title="Select dashboard daterange" data-placement="left">
              <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
              <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">Aug 16</span>

              <!--<i class="flaticon2-calendar-1"></i>-->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z"
                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                  <path
                    d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z"
                    fill="#000000" />
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

      <div class="kt-portlet kt-portlet--mobile">

        <div class="kt-portlet kt-portlet--mobile">
          <div class="kt-portlet__head kt-portlet__head--lg kt-portlet_btn">
            <div class="row" style="width: 100%; margin-top: auto;margin-bottom: auto;">
              <div class="col-md-12" style="text-align: right; padding-right: 0px">
                <button type="button" id="add" class="btn btn-outline-success"><i class="fa fa-plus"></i>
                  Tambah</button>
              </div>
            </div>
          </div>

          <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="tbl-portofolio">
              <thead>
                <tr>
                  <th style="width: 8%">No.</th>
                  <th>Title Project</th>
                  <th>Technology</th>
                  <th>Jumlah Foto</th>
                  <th style="width: 12%">#</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <!--end: Datatable -->
          </div>
        </div>
      </div>

      <!-- end:: Content -->
    </div>

    <!--begin::Modal-->
    <div class="modal fade modal-custom" id="modal" data-backdrop="static" data-keyboard="false" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="form" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Form Skill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" name="id" id="id" value="">
              <input type="hidden" name="token" id="token">
              <div class="form-group">
                <label for="nama">Title Project <span class="required">*</span></label>
                <input type="text" name="title" class="form-control" id="title">
              </div>
              <div class="form-group">
                <label for="no_hp">Technology <span class="required">*</span></label>
                <textarea class="form-control" id="technology" name="technology" rows="3" ></textarea>
              </div>
              <div class="form-group">
                <label for="foto_produk">Foto Project <span class="required">*</span></label>
                <div class="dropzone dropzone-default dropzone-success dz-clickable" id="kt_dropzone_3">
                  <div class="dropzone-msg dz-message needsclick">
                    <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                    <span class="dropzone-msg-desc">Only image, pdf and psd files are allowed for upload</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="no_hp">Content <span class="required">*</span></label>
                <textarea class="form-control" id="content" name="content" rows="5"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-info"><i class="fa fa-save"></i> Simpan</button>
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="close">
                <i class="fa fa-times"></i> Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--end::Modal-->

    <!-- end:: Content -->
  </div>
  <%- include('../templates/footer.ejs') %>